Flask==3.1.3
Flask-Login==0.6.3
Flask-SocketIO==5.6.1
Flask-SQLAlchemy==3.1.1
Werkzeug==3.1.6
Jinja2==3.1.6

gunicorn==25.1.0
eventlet==0.40.3

python-dotenv==1.0.0
requests==2.32.5

Pillow==12.1.1
opencv-python==4.13.0.92
stegano==2.4.1
piexif==1.1.3

pycryptodome==3.23.0
scapy==2.7.0

reportlab==4.5.1

SQLAlchemy==2.0.49