<!DOCTYPE html>
<html>
<head>

    <title>Threat Intelligence Map</title>

    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet/dist/leaflet.css"
    >

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>

<body>

<div class="main-content">

    <h1>Global Cyber Threat Map</h1>

    <div id="map"></div>

</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script src="{{ url_for('static', filename='js/threat_map.js') }}"></script>

</body>
</html>